#home {
    .content-container {
        background-color: #fff;
        padding: 0 30px;
        min-height: 100vh;
    }

    .ant-row.ant-row-center.ant-row-middle {
        margin: 25px 0;
    }

    img.icons {
        max-width: 80%;
        width: 80%;
        padding: 20px;
    }

    .ant-card-body {
        .card-stats {
            min-height: 138px;
            margin: 10px;
        }
    }
}
