#details {
    .first-filter {
        padding: 0 30px;
        top: 64px;
        position: fixed;
        width: 100%;
        z-index: 3;
    }

    .map-block {
        height: calc(100vh - 200px);
        border: solid #f2f2f2 1px;
        margin-top: 25px;
        padding: 25px;

        .map-container {
            margin: 0px;
        }
    }

    .chart-block {
        height: calc(100vh - 200px);
        border: solid #f2f2f2 1px;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top: 25px;

        .chart-container {
            margin: 0px;
            padding: 20px 0;
        }
    }

    .table-block {
        border: solid #f2f2f2 1px;
        height: calc(100vh - 200px);
        margin-top: 25px;

        .table-container {
            padding: 0px;
        }
    }

    .content-container {
        background-color: #fff;
        padding: 110px 30px 20px;
        min-height: 100vh;
    }

    .loading-container {
        padding-top: 175px;
        display: flex;
        justify-content: center;
    }

    .chart-container,
    .table-container {
        text-align: center;
    }

    .map-buttons {
        position: absolute;
        right: 20px;

        button {
            display: flex;
            margin-bottom: 5px;
            justify-content: center;
            align-items: center;
        }
    }

    .map-tooltip {
        padding: 5px;
        max-width: 400px;

        h3 {
            padding: 0px;
            margin: 0px;
            font-size: 14px;
            font-weight: 600;
            color: #005c93;
            max-width: 200px;
            width: 200px;
            white-space: pre-wrap;
        }

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            display: flex;
            justify-content: space-between;

            &:not(:last-child) {
                border-bottom: 1px solid #e7f1f7;
                padding-bottom: 3px;
                margin-bottom: 3px;
            }

            & > div {
                display: flex;
            }

            span {
                color: #242525;
                margin-right: 15px;
                font-weight: 600;
            }

            b {
                text-align: right;
                color: #005c93;
            }
        }
    }

    td.ant-table-cell.value-column {
        width: 18%;
    }
}
