#details {
    .first-filter {
        padding: 0 175px;
        margin-top: 64px;
    }

    .content-container {
        background-color: #fff;
        padding: 20px 175px;
        min-height: 100vh;
    }

    .loading-container {
        padding-top: 175px;
        display: flex;
        justify-content: center;
    }

    .map-container,
    .chart-container,
    .table-container {
        padding: 20px 0;
        margin: 25px 0;
        border: 1px solid black;
    }

    .chart-container,
    .table-container {
        text-align: center;
    }

    .table-container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .map-buttons {
        position: absolute;
        right: 20px;
        button {
            display: flex;
            margin-bottom: 5px;
            justify-content: center;
            align-items: center;
        }
    }

    .map-tooltip {
        padding: 0 10px;

        h3 {
            font-size: 14px;
            font-weight: 600;
            color: #005c93;
            max-width: 170px;
            width: 170px;
            white-space: pre-wrap;
        }

        h4 {
            font-size: 14px;
            font-weight: 600;
            color: #222;
            max-width: 170px;
            width: 170px;
            white-space: pre-wrap;
        }

        li {
            display: flex;
            max-width: 170px;

            &:not(:last-child) {
                border-bottom: 1px solid #e7f1f7;
                padding-bottom: 3px;
                margin-bottom: 3px;
            }

            & > div {
                display: flex;
            }

            span {
                margin-right: 10px;
                color: #7db0cb;
            }

            b {
                margin-left: auto;
                color: #005c93;
            }
        }
    }
}
