#home {
    .content-container {
        background-color: #fff;
        padding: 0 175px;
        min-height: 100vh;
    }

    .ant-row.ant-row-center.ant-row-middle {
        margin: 75px 0;
    }
}
